@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--fontSans);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --shadow-x: var(--shadow-x);
  --shadow-y: var(--shadow-y);
  --shadow-blur: var(--shadow-blur);
  --shadow-spread: var(--shadow-spread);
  --shadow-color: var(--shadow-color);
}

:root {
  --fontSans: "Inter", system-ui, sans-serif;
  /* Arco Design Blue-6 inspired Primary Color */
  --background: rgba(242, 243, 245, 1);
  --foreground: rgba(29, 33, 41, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(29, 33, 41, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(29, 33, 41, 1);
  --primary: rgba(22, 93, 255, 1);
  --primary-foreground: rgba(255, 255, 255, 1);
  --secondary: rgba(242, 243, 245, 1);
  --secondary-foreground: rgba(29, 33, 41, 1);
  --muted: rgba(242, 243, 245, 1);
  --muted-foreground: rgba(134, 144, 156, 1);
  --accent: rgba(232, 243, 255, 1);
  --accent-foreground: rgba(22, 93, 255, 1);
  --destructive: rgba(245, 63, 63, 1);
  --constructive: rgba(0, 180, 42, 1);
  --destructive-foreground: rgba(255, 255, 255, 1);
  --border: rgba(229, 230, 235, 1);
  --input: rgba(229, 230, 235, 1);
  --ring: rgba(22, 93, 255, 0.2);
  --radius: 0.5rem;
  
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-color: rgba(0, 0, 0, 0.05);	
}

@layer base {
  body {
    @apply bg-gray-100 text-foreground font-sans flex justify-center min-h-screen items-center m-0;
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
  }
}